header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  position: fixed;
  z-index: 1;
  width: 100%;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid black;
}

body {
  font-family: Georgia;
  color: black;
}

.logo {
  color: MediumAquamarine;
  display: inline-flex;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.logo span {
  padding-left: 10px;
}

nav {
  display: inline-flex;
}

nav a {
  color: black;
  padding: 10px;
}

header nav {
  padding-right: 40px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

.largecolumn {
  display: inline-flex;
  width: 630px;
  flex-direction: column;
  margin-right: 32px;
  border: 1px solid black;
}

.middlecolumn {
  width: 300px;
  border: 1px solid black;
  display: inline-flex;
  flex-direction: column;
  margin-right: 32px;
}

.smallcolumn {
  display: inline-flex;
  width: 240px;
  flex-direction: column;
  border: 1px solid black;
}

.content {
  display: flex;
  border: 1px solid black;
  position: relative;
  top: 80px;
  width: 100%;
  padding: 20px;
}

.story {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: 1px solid black;
}

.phish-headline {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png")
  font-size: 40px;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  border: 1px solid black;
}

.phishstory {
  border: 1px solid black;
}

.orcaheadline {
  border: 1px solid black;
}

.orcastory {
  border: 1px solid black;
}

.backwards {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png")
  height: 300px;
  justify-content: center;
  margin-top: 15px;
  font-weight: bold;
  font-size: 30px;
  border: 1px solid black;
}

.cameras {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png")
  height: 300px;
  justify-content: center;
  margin-top: 15px;
  font-weight: bold;
  font-size: 30px;
  border: 1px solid black;
}


.catheadline {
  border: 1px solid black;
}

.catstory {
  border: 1px solid black;
}

.newsbites {
  border: 1px solid black;
}

.newsbites h3 {
  font-size: 16px;
  font-weight: bold;
}

.bites {
  border: 1px solid black;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}
